<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909260373550-9cgoonp05b2jo8td202boejps4tq763k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909260373550-9cgoonp05b2jo8td202boejps4tq763k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909260373550-r73rkr79u3gv8m5c2pdn18o52htek471.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8bbtusoaKQuRvq16_nNcU3x144vbk8ns</string>
	<key>GCM_SENDER_ID</key>
	<string>909260373550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nasmedia.Storit</string>
	<key>PROJECT_ID</key>
	<string>storit-be12b</string>
	<key>STORAGE_BUCKET</key>
	<string>storit-be12b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909260373550:ios:6c514d410333a2848de9bf</string>
	<key>DATABASE_URL</key>
	<string>https://storit-be12b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>